:root {
  --text-primary: white;
  --text-secondary: #b3b3b3;
  --bg-primary: #2c2c2c;
  --bg-gradient-start: #464cf6;
  --bg-gradient-end: #77ccf4;
}

main {
  display: grid;
  position: relative;
  font-family: "Poppins", serif;
  background-color: var(--bg-primary);
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-primary);
  padding: 32px;

  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header"
    "social_media"
    "experience"
    "info"
    "education";

  @media (min-width: 768px) {
    display: grid;
    height: 100vh;
    padding: 60px 10%;
    justify-content: space-between;
    grid-template-rows: fit-content(100%);
    grid-template-columns: fit-content(100%);
    grid-template-areas:
      "header info"
      "experience education"
      "none social_media";
  }
}

.img_background {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: min(95%, 325px);
  height: auto;
  margin: auto;
  background-image: linear-gradient(
    to right,
    var(--bg-gradient-start),
    var(--bg-gradient-end)
  );
  border-radius: 12px;

  @media (min-width: 768px) {
    width: 221px;
    height: 221px;
    border-radius: 100%;
    margin: 0;
  }
}

.profile_img {
  width: 100%;

  margin: 0;
  border-radius: 12px;

  @media (min-width: 768px) {
    width: 221px;
    height: 221px;
    border-radius: 100%;
    margin: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-area: header;
  gap: 24px;
  justify-items: left;
  align-items: center;
  justify-content: start;

  h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 0;
  }

  h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--text-secondary);
    font-style: italic;
    margin: 0;
  }

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;

    h1 {
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
    }

    h2 {
      font-weight: 400;
      font-size: 30px;
      line-height: 45px;
      color: var(--text-secondary);
      font-style: normal;
    }
  }
}

.experience_div {
  grid-area: experience;
  width: 100%;
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px){
    width: fit-content;
    height: fit-content;
  }
}

.infos {
  grid-area: info;
  justify-content: center;
  display: flex;
  flex-direction: column;

  h3 {
    text-align: center;
    font-weight: 500;
    margin: 4px 0;
    }
}

.infos_title {
  font-weight: 500;
}

.social_media {
  grid-area: social_media;
  width: min(100%, 400px);
}

.education {
  grid-area: education;

  h3 {
    text-align: center;
    font-weight: 500;
    margin: 4px auto;
  }
}

.social_icons {
  display: flex;
  justify-content: space-around;
}

.social_icons > div > button {
  display: flex;
  background-color: var(--bg-primary);
  border: none;
  border-radius: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.button_bg {
  background-image: linear-gradient(315deg, white, white);
  padding: 1px;
  border-radius: 100%;
  width: fit-content;
  height: fit-content;
}

.button_bg:hover {
  background-image: linear-gradient(315deg, var(--bg-gradient-start), var(--bg-gradient-end));
}

.social_icons > div > a {
  display: flex;
  background-color: var(--bg-primary);
  border-radius: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.experience_item {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 50px;

  img {
    width: 30px;
  }
}

.experience_bar {
  display: flex;
  width: 300px;
  height: 30px;
  border: 1px solid white;
  align-items: center;
  border-radius: 24px;
}

.actual_experience {
  display: flex;
  height: 100%;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--bg-gradient-start),
    var(--bg-gradient-end)
  );
  border-radius: 24px;
  text-align: center;
  justify-content: center;
}

.one_year {
  width: 33%;
  
}

.two_years{
  width: 66%;
}

.logos_only {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  width: 90%;
  img {
    width: 30px;
    border-bottom: 1px solid white;
    padding: 5px;
  }

}

.education-item {
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  margin: 16px 0;
}

.education-title {
  font-weight: 500;
}

.education-info {
  margin-bottom: 42px;
}

.certification {
  line-height: 2.5;

  ul {
    padding: 0;
    margin: 16px auto;
  }
}

.header_description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.7rem 0;
  box-sizing: border-box;
  gap: 12px;
}

.separator {
  width: 60%;
  height: 1px;
  background-image: linear-gradient(to right, var(--bg-gradient-start), var(--bg-gradient-end));
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
}

.languages_info {
    margin: 0px;

    p {
      margin: 16px 0;
    }
}
